
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*======================================================
    COLOR PALETTE
======================================================*/
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs */
    --very-light-grey: hsl(0, 0%, 95%); /*buttons,headings, background */
}

body{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family:'Lexend Deca', sans-serif;
    font-size:0.9375rem;
    /* 15px */
    color:var(--transparent-white);

}
.card-container{
    display:grid;
    align-items:center;
    margin:3rem;
    grid-template-columns:repeat(1, 3fr);
    max-width:950px;
    border-radius:8px;
    overflow:hidden;

}
.card{
    height:442px;
    padding:3rem;
    display:flex;
    flex-direction:column;
   
    
}

.card-icon{
    height:40px;
    width:64px;
   

}

.detail{
    
    margin-top:25px;
    line-height: 25px;
    padding-right:5rem;
    flex-wrap: wrap;
   
    text-align: left;
}

.card-header{
    font-family:'Big Shoulders Display', cursive;
    color:#fff;
    text-transform: uppercase;
    padding-top:25px;
    
    font-size:2.5rem;
    font-weight:700;

}



.card-one{
    background-color:var(--bright-orange);
}
.card-two{
    background-color:var(--dark-cyan);
}

.card-three{
    background-color:var(--very-dark-cyan);
}

.btn{
    background-color: var(--very-light-grey);
    width:fit-content;
    font-family:'Lexend Deca', sans-serif;
    font-size:0.9375rem;
    padding:0.625rem 1.25rem;
    margin-top:25px;
    display:flex;
    /* align-content:flex-end; */
    border-radius:1.5625rem;
    border:2px solid var(--transparent-white);
    cursor:pointer;
    
   
}

a{
    text-decoration:none;
}
#btn-1{
    color:var(--bright-orange);

}

#btn-2{
    color:var(--dark-cyan);
}

#btn-3{
    color:var(--very-dark-cyan);
    
}

#btn-1:hover,
#btn-1:focus{
    background-color: var(--bright-orange);
    color:var(--very-light-grey);
}

#btn-2:hover,
#btn-2:focus{
    background-color:var(--dark-cyan);
    color:var(--very-light-grey);
}

#btn-3:hover,
#btn-3:focus{
    background-color:var(--very-dark-cyan);
    color:var(--very-light-grey);
}

footer{
    color:black;
    display:flex;
    align-content:center;
    justify-content: center;
    margin:5px;

}
/* Media Queries */


 @media(min-width:950px){
    .card-container{

        display:grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);

    }

    .detail{
        padding-right:.6rem;
        align-content: first baseline;
        padding-bottom:26px;
    }
    
    .btn{
        align-content:baseline;
    }

}